{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content %}

<h3 align="center">About Final Project</h3>
</br>
<hr>
 

 
<div class="form-group" align="center">
<table border="1" >
<tr>
<td>Course</td><td>FA22: INTRO TO NLP FOR DATA SCIENCE: 11691</td>
</tr>
<tr>
    <td>Project Title</td><td>Sentiment Analyzer for Trip Advisor Hotels Reviews</td>
</tr>
<tr>
    <td>Assignment </td><td>Final Project - <strong> Video Demo </strong></td>
</tr>
<tr> 
    <td>Team Members</td> <td>1. Bhavika Sharma 2. Keerti Kolakaluri  3. Sridhar Reddy Sama</td>
</tr>
<tr>
    <td> Submission Date</td> <td>12/06/2022</td>
</tr>
<tr>
    <td>Professor</td> <td>Olga Scivner</td>
</tr>
<tr>
    <td>Teaching Asst.</td> <td>Hari Mudipalli</td>
</tr>
</table>
</div>

{% endblock %}