{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content %}
<h5 align="center">Exploratory Data Analysis development in progress</h5>

<table>
    <tr>
        <td colspan="2" >======================================================================</td>
     </tr>
     <td colspan="2" align="center">Data Exploration</td>
     <tr>
        <td colspan="2" >======================================================================</td>
     </tr>
    <tr>
        
        <td colspan="2"><img src="../static/images/Eta_1.jpg" alt="Final Project" ></td>
        
    </tr>
    
    <tr>
        <td colspan="2" >======================================================================</td>
     </tr>
    <tr>
        <td colspan="2" align="center">Feature Extraction</td>
       
    </tr>
    <tr>
        <td colspan="2" >======================================================================</td>
     </tr>
    <tr>
         
        <td colspan="2"><img src="../static/images/featureextraction.jpg" alt="Final Project" ></td>
        
    </tr>
    
    
    </table>
{% endblock %}