{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content %}
<style>
  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}


  
table {
  border-collapse: collapse;
  width: 600px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
 

  </style>

<div>
  <img src="../static/images/hotelimage.jpg" alt="Final Project" width="1000" height="200">
</div>

<div class="dropdown">
  <form action="#" name="form" id="form" method="post">
  <select name="option" width="300px">
    {% for hotel in hotels %}
        <option value="{{ hotel.id }}" id="hotelid" SELECTED>{{ hotel.name }}</option>
    {% endfor %}
    </select>
    
    <input class="button1" type="submit" value="Select" onclick="ShowRating();">
    
  </form>
  <div>
    {% for rating in hotelRatings %}
    <div style="overflow-x: auto;">
    <table class="alert-danger">
      <tr><td>
        <table class="alert-danger" align="center" WIDTH="50%" style="margin-top: 50px; margin-left:10px ;">
          <tr>
           <tr>
             <td colspan="5" ><strong> Hotel Details</strong></td>
           </tr>
         <td colspan="3">Hotel Name</td>
          <td colspan="2">{{rating.name}}</td>
          </tr>
          <tr>
           <td colspan="3">Hotel Class </td>
           <td colspan="2">{{rating.hotel_class}}</td>
           </tr>
          <tr>
           <tr>
             <td colspan="5" ><strong> Score Breakdown </strong></td>
           </tr>
           <tr>
          <td colspan="3">Positive Score</td>
          <td colspan="2">{{rating.positive}}</td>
         </tr>
          <tr>
          <td colspan="3">Negative Score</td>
          <td colspan="2">{{rating.negative}}</td>
          </tr>
          <tr>
          <td colspan="3">Neutral Score</td>
          <td colspan="2">{{rating.neutral}}</td>
          </tr>
          <tr>
           <td colspan="5" ><strong> Ratings </strong></td>
         </tr>
         <tr>
           <td><strong><h1>* * * * *</h1></strong></td><td><strong><h1>* * * *</h1> </strong></td><td><strong><h1>* * *</h1>  </strong></td><td><strong><h1>* *</h1> </strong></td><td><strong><h1>* </h1></strong></td>
           
           </tr>
           <tr>
             <td style="text-align: center ;">{{rating.rating_5}}</td>
             <td style="text-align: center ;">{{rating.rating_4}}</td>
             <td style="text-align: center ;">{{rating.rating_3}}</td>
             <td style="text-align: center ;">{{rating.rating_2}}</td>
             <td style="text-align: center ;">{{rating.rating_1}}</td>
             </tr>
            </td>
            
         </table>
         <td>
          {%  if rating.id == 1 %}
          <img src="../static/images/245eastwest.jpg" alt="Final Project" >
          {% elif rating.id == 2  %}
          <img src="../static/images/3westclub.jpg" alt="Final Project">
          {% elif rating.id == 3  %}
          <img src="../static/images/AKAUnitedNations.jpg" alt="Final Project" >
          {% elif rating.id == 4  %}
          <img src="../static/images/AffiniaGardens.jpg" alt="Final Project" >
          {% endif %}
        </td>
      </tr>
    </table>
    
     
  </div>
     

    {% endfor %}
     
   

  </div>

 
  </div>
<script>



</script>
  
{% endblock %}