{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content %}
<h5 align="center">Visualization development in progress</h5>

<table>

    <tr>
        <td colspan="2" >======================================================================</td>
     </tr>
    <tr>
        <td colspan="2" align="center">Word Cloud</td>
       
    </tr>
    <tr>
        <td colspan="2" >======================================================================</td>
     </tr>

    <tr>
         
        <td colspan="2"><img src="../static/images/wordcloud.jpg" alt="Final Project" ></td>
        
    </tr>
   
    
<tr>
</br>
</tr>

     <tr>
        <td colspan="2" >======================================================================</td>
     </tr>
    <tr>
        <td colspan="2" align="center">Polarity & Subjectivity</td>
        
    </tr>
    <tr>
        <td colspan="2" >======================================================================</td>
     </tr>
    <tr>
        <td ><img src="../static/images/polarity.jpg" alt="Final Project" ></td>
        <td ><img src="../static/images/subjectivity.jpg" alt="Final Project" ></td>
        
    </tr>
    
    <tr>
        <td></td>
        <td></td>
    </tr>
    
    
    </table>
{% endblock %}